<!DOCTYPE html>
<html>
  <head>
    <title>Coffee Hacker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
    <script src="https://use.fontawesome.com/4a68c67168.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto" rel="stylesheet">
  </head>
  
<nav>
  <%= link_to "Coffee Hacker", root_path, :class=> "logo" %>
  <ul>
    <% if user_signed_in? %>
      <li><%=  link_to current_user.name, edit_user_registration_path%></li>
      <!-- <%= link_to "New Post", new_post_path, :class=> "button" %>   -->
    <% else %>
      <li><%= link_to "Sign In", new_user_session_path %></li>
    <% end %>
    <li><a><span> | </span></a></li>
    <li><%= link_to "Blog", "/pages/blog" %></li>
    <li><%= link_to "Learn", "/pages/learn" %></li>
    <li><%= link_to "Find", "/pages/find" %></li>
    <li><%= link_to "About", "/pages/about" %></li>
  </ul>

    <li class="dropbtn fa fa-bars fa-2x" onclick="myFunction()">
      <div id="myDropdown" class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>  
    </li>

</nav>
  
<body>
  <!-- <div class="content"> -->
    <%= yield %>  
  <!-- </div> -->
</body>

</html>
